<!DOCTYPE html>
<html>
<head>
	<title>Página Principal</title>
</head>
<body>
  <h1 text-align="center" font-size="20px"> Bem vindo!!! </h1>
	<form>
		<div class="Usuario">
        <label for="idUsuario" class="nome">Usuário</label>
        <input name="usuario" id="idUsuario" value="{{ pessoa.usuario }}" type="text" class="usuario"  placeholder="Usuario">
    </div>
    <div class="Senha">
        <label for="idSenha" class="nome">Senha</label>
        <input name="senha" id="idSenha" value="{{ pessoa.senha }}" type="text" class="senha"  placeholder="Senha">
    </div>
    <button type="submit" class="btn btn-success">Entrar</button>
		<a href="templates/adicionar">Se você não possuir um cadastro, clique aqui!!!</a>
	</form>
</body>
</html>